@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans&family=Pinyon+Script&display=swap');

.pageTitle {
  margin-left: 400px;
  font-size: 24px;
  display: block;
  margin-top: 40px; 
  margin-bottom: 60px;
}

.beerInfoDiv {
  
}

.beerTitle {
  text-shadow: 1.5px 1.5px #00CEE0;
  display: block;
}

.detailsText {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  margin: 4px 0;
}

.triedButtons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .pageTitle {
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

