* {
  margin: 0;
  padding: 0;
}

#pageContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#greetingText {
  margin-top: 30px;
}

#secondaryText {
  margin-top: 50px;
}

.beerCards {
  height: 265px;
  min-width: 250px;
  width: 65%;
  margin: 20px 16% 70px 16%;
  text-align: left;
  border: 1px solid black;
}

.randomImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}