.pageTitle {
  margin-left: 450px;
  font-size: 28px;
  display: block;
  margin-top: 45px; 
  margin-bottom: 60px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.formField {
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .pageTitle {
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .formField {
    width: 90%;
  }
}